{% extends 'base.html' %}
{% block content %}

  <body class="bg-light">


  <div class="container">
    <div class="py-5 text-center">
      <a href="/flea_market"><img class="d-block mx-auto mb-4" src="/static/homepage_images/logo.jpg" alt="" width="250" height="72"></a>
    </div>
      <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
      {% csrf_token %}  
        <h4 style="text-align: center;">Report</h4><br>
        <div class="row">
          <div class="col-lg-4 mb-3">
            <label for="ItemName">Item name</label>
            <h4>{{item.item_name}}</h4>
          </div>
          <div class="col-md-6 mb-3">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-3">
            <label for="Content">Title</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <input type="text" class="form-control" id="title" placeholder="" name="title" style="width: 100% !important" required>
              <div class="invalid-feedback">
                Title is required.
              </div>
          </div>
        </div>
        <div class="row">
        <div class="col-md-6 mb-3">
          <label for="picture">Picture<span class="text-muted">(Optional)</span></label>
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>            
            <input type="file" class="form-control" id="picture" placeholder="" name = "picture">
          </div>
        </div>
        </div>
        <div class="mb-3">
          <label for="Content">Reported content</label>
          <textarea type="text" class="form-control" id="content" placeholder="" name="content" style="height: 200px !important;" required></textarea>
            <div class="invalid-feedback">
              Content is required.
            </div>
        </div>

        
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="{return confirm('Do you want to report this item?')}">Report</button>
      </div>
    </div>
  </form>
<br><br><br>

{% endblock %}