{% load static %}
{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet"  href="{% static 'polls/polls.css' %}">
<div class="container">
	<style>
		nav{
			text-align: center;
		}
		h1{
			padding-top: 200px;
		}
		input{
			height: 40px;
		}
	</style>
	<nav>
	<h1>Login</h1>
	<br><br>
	<form method = "POST" action="{% url 'polls:login' %}">
		{% csrf_token %}
  		<input type="text" name="username" placeholder="ID">
		<br>
		<input type="password" name="password" placeholder="PASSWORD">
		<br>
		<br>
		{% if error %}<p>{{error}}</p>{% endif%}
		<input type="submit" class="btn btn-primary" name="login", value="login">
		<a href="{% url 'polls:signup'%}">Sign Up</a>
	</form>
	</nav>
</div>
{% endblock %}